.banner {
	background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%), url(images/backgroundecosweat.jpg);
	color: white;
	padding: 80px 0px;
	background-size: cover;
	background-position: center;
	justify-content: center;
}

.banner h1 {
	font-size: 22px;
	text-align: center;

}

.bannerhomepage {
	background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%), url(images/backgroundecosweat.jpg);
	color: white;
	padding: 180px 0px;
	background-size: cover;
	background-position: center;
	justify-content: center;
}